.search {
  position: relative;
  margin-top: 4rem;
  padding: 1rem;
  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #3e3e3e;
  }

  &.dark {
    h1 {
      color: #f2f2f2;
    }
  }
}
