.progress-bar {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 1rem;
  .slider-container {
    position: relative;
    width: 100%;
    margin: 1rem;
    height: 3px;
    background: #dcdcdc;
    border-radius: 10px;
    .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #5a4af5;
        border-radius: 10px;
    }
    .slider {
      position: absolute;
      margin: 0;
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      width: 100%;
      height: 100%;
      outline: none;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.8rem;
        height: 0.8rem;
        background: #5a4af5;
        cursor: pointer;
        border-radius: 50%;
      }
      &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.8rem;
        height: 0.8rem;
        background: #5a4af5;
        cursor: pointer;
        border-radius: 50%;
      }
      &::before {
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 0;
        width: 100%;
        height: 2rem;
        background: transparent;
        cursor: pointer;
      }
    }
  }
  .time {
    font-size: 0.9rem;
    color: #747474;
  }
  &.dark {
    .slider-container {
      background: #121212;
      .progress {
        background: #695af5;
      }
      .slider {
        &::-webkit-slider-thumb {
          background: #695af5;
        }
        &::-moz-range-thumb {
          background: #695af5;
        }
      }
    }
    .time {
      color: #c6c6c6;
    }
  }
}
